body {
  margin: 0;
  font-family: "Satoshi", sans-serif;
  color: #dedcf7;
}


/* Navbar */

header {
  background-color: #f5eee4;
  border-bottom: solid black 1px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 5vh;
  position: fixed;
  top: 0;
  z-index: 1;
}

#header-logo {
  width: auto;
  height: 40px;
  margin: auto 0 auto 10px;
}

#navbar {
  width: 350px;
  display: flex;
  margin-right: 15px;
}

#navbar > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  padding: 0;
  width: 100%;
  height: 100%;
}

#navbar ul li {
  font-size: 20px;
  text-align: center;
  line-height: 48px;
  width: 100%;
  height: 100%;
}

#navbar ul li:hover {
  background-color: #d53600;
}

#navbar ul li a:hover {
  color: white;
}

a {
  text-decoration: none;
  display: inline-block;
  color: black;
}

.nav-link {
  width: 100%;
  height: 100%;
}


/* Welcome Section */

#welcome-section {
  background: linear-gradient(45deg, #160078, #03002e);
  width: 100%;
  height: 95vh;
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  gap: 200px;
}

h1 {
  display: block;
  margin: auto 0;
}

#hello {
  display: block;
}

#name {
  font-size: 3em;
  color: #06768d;
}

#description {
  display: block;
  margin-top: 10px;
}

#welcome-img {
  height: 450px;
  border-radius: 25px;
  margin: auto 0;
}


/* Projects */

#projects {
  text-align: center;
  background-color: #f5f9ff;
}

#project-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

#project-title {
  font-size: 4rem;
  margin: 120px 0 0 0;
  color: #160078;
}

#project-description {
  font-size: 2rem;
  margin: 0;
  color: #03002e;
}

.project-grid {
  height: 100%;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 700px);
  grid-template-rows: 400px 400px; /* same as above */
  justify-content: center;
  grid-gap: 90px;
}

.project-tile {
  border: solid #d7e4f7 1px;
  border-radius: 30px;
  box-shadow: 0px 0px 30px #d7e4f7;
}

.project-tile:hover {
  box-shadow: 0px 0px 30px #bbc6d6;
  z-index: -1;
}

.img-tile {
  width: 100%;
  border-radius: 15px;
  margin: auto;
  overflow: hidden;
  display: flex;
}

.img-tile:hover {
  transform: scale(1.10);
  transition: all .7s ease;
}

.img-wrapper {
  width: 95%;
  margin-top: 3%;
  border-radius: 15px;
  display: inline-block;
  overflow: hidden;
}

.description-tile {
  font-size: 1.5rem;
  margin-top: 15px;
}

#btn {
  display: inline-block;
  border: solid #d7e4f7 1px;
  border-radius: 10px;
  box-shadow: 0px 0px 30px #d7e4f7;
  width: 200px;
  height: 40px;
  line-height: 35px;
  font-size: 1.5rem;
  margin: 100px 0 150px 0;
}

#btn > i {
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  transition: all 0.3s ease-in-out;
  position: relative;
  top: 2px;
}

#btn:hover {
  box-shadow: 0px 0px 30px #bbc6d6;
}

#btn:hover > i {
  display: inline-block;
  opacity: 1;
  visibility: visible;
  margin-left: 5px;
  position: relative;
  top: 2px;
}


/* Contact */

#contact {
  background: linear-gradient(45deg, #160078, #03002e);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px 0;
}

#logo-container {
  background-color: white;
  border: solid black 1px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
}

.contact-logo {
  width: 100px;
}

#contact-header {
  color: #06768d;
  font-size: 5rem;
}

#links {
  font-size: 35px;
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
}

.profile-link {
  color: white;
}